@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,100,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--color-background);
    width: 100vw;
}
html{
   scroll-behavior: smooth;
}


.topnav ul {
   
    background-color: #FECC4E;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
    bottmargin-top: ;
    align-items: center;
    height: 2.5rem;

    .item1 a{
        border-bottom: 0.2rem solid #0047ae;
        color: #0047ae;
}
    }
   
  .item7{
    margin-left: 5rem;
    margin-top: 0.8rem;
    font-weight: 50;
    
  }
  .item8 {
    margin-left: 7rem;
    color: #3B72C1;
    .guestuser{
        color: #3B72C1;
        padding-left: 0.1rem;
    }

  }
    
    a {
        text-decoration: none;
        color: black;
        font-size: .9rem;
    }


.topnav ul a:hover{
    border-bottom: 0.2rem solid #0047ae;
    color: #0047ae;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 1.2rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    font-size: .9rem;
    background: #f5f5f5;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);

.Search span {
    color: #0160A9;
}    

.logobrand{

}
  .fa-location-dot {
    color: #09459A;
  }
.Search .locationdetected{
    z-index: 1;
    position: absolute;
}


  .locationsearch{
    border: none;
    outline: none;
    width: 7rem;
    height: 2rem;
    border-bottom: solid 0.2rem #448AC0;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}
.searchbar {
    border: none;
    outline: none;
    border: radius 0.4rem;
    width: 9rem;
    height: 2rem;
    border-bottom: solid 0.2rem #448AC0;
    -webkit-border-radius:0.4rem ;
    -moz-border-radius:0.4rem ;
    -ms-border-radius:0.4rem ;
    -o-border-radius:0.4rem ;
}
.cart-plus img{
    display: inline-block;
    
}
.createabha img{
    display: inline;
   
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}   

}

/* Main content section starts from here */
main {
    position: relative;
    z-index: 2;
}

.banner-container img{
    width: 100%;
}


.container1 {
    width: 100%;
    background-color:  #0047Af;
}


.container-box {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 1.85rem 1.5rem 5.5rem;
}

.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 25%;
    border-left: 1px solid #fecc4e;
}

.box-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    color: white;
    text-decoration: none;
}

.box-item div {
    transition: 0.2s ease-in-out;
    text-align: center;
    margin-bottom: 15px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.report {
    border-right: 1px solid #fecc4e;
}

.box-item div:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.box-item a div {
    width: 100%;
}




/* Special Program */

.container-2 {
    position: relative;
    width: 100%;
    margin-top: -1.9rem;
}

.item-container {
    position: absolute;
    top: -55px;
    margin: auto;
    width: 100%;
    max-width: 1320px;
    background-color: #ffff;
    color: black;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.item-container>p {
    font-size: 1.625rem;
    font-weight: 600;

}

.function-carausel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 30px auto 90px;
}

.function-carausel-content {
    position: relative;
    width: 250%;
    left: 0;
    margin-left: -10px;
    display: flex;
}

.box-items {
    width: 10%;
    text-align: center;
    border-left: 1px solid #d9d9d9;
}

.box-items img {
    margin-bottom: 15px;
    cursor: pointer;
}
.box-items img:hover {
   transform: scale(1.2);
}
.box-items-items p {
    font-size: 0.9375rem;
    color: #212529;
    font-weight: 600;
}

.function-carausel i, .blog-container i {
    padding: 10px 13px;
    border-radius: 50%;
    background-color:  #fecc4e;
}


.function-carausel .fa-chevron-right, .right-arrow {
    position: absolute;
    right: 0;
    top: 60%;
}

.box-2 {
    width: 100%;
    max-width: 1320px;
    margin: auto;
}

.centerr {
    width: 100%;
    max-width: 1320px;
    margin: auto;
}


.popular-test {
    width: 100%;
    position: relative;
    margin-top: 22rem;
    height: 395px;
    display: flex;
}

.popular-test {
    width: 100%;
    position: relative;
    margin-top: 15px;
    height: 395px;
}

/* -- POPULAR TEST/ PACKAGES SECTION -- */

.popular-test-container {
    position: absolute;
    top: -55px;
    margin: auto;
    width: 100%;
    max-width: 1320px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 15px;
    border-radius: 15px;
}

.popular-test-content {
    position: relative;
    width: 235%;
    left: 0;
    animation: 20s test-slider infinite;
    display: flex;
}

.popular-test-item {
    box-shadow: 0 0 5px rgb(180, 178, 178);
    margin: 20px 10px;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
    width: 65%;
}

.popular-test-container>p {
    font-size: var(--size-cardHeading2);
    font-weight: 600;
}

.popula-carausel {
    margin: 0 0 40px;
}

.popular-test-item ul {
    list-style: none;
}

.popular-test-item ul li {
    display: flex;
}

.know-more {
    text-align: right;
    color: var(--color-text-blue);
    margin: 35px 0 5px;
}
.know-more:hover{
   font-weight: normal;
}

.popular-test-item ul .last-list img {
    height: 21px;
}

.popular-test-item hr {
    margin: 5px 0 15px;
}

.price {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--color-yellow) 65%, var(--color-text-blue) 65%);
    padding: 7px;
    border-radius: 5px;
}
#rupee-icon i {
   padding: 0;
   border-radius: 0;
}
.price p:nth-child(2) {
    color: white;
    font-weight: normal;
    width: 120px;
    text-align: center;
}

.popular-test ul span {
    font-size: var(--color-body-text);
    margin-left: 5px;
}

.popula-carausel .fa-chevron-right {
    position: absolute;
    right: 0;
    top: 50%;
}

.popula-carausel .fa-angle-left {
    position: absolute;
    top: 50%;
}

.price p:nth-child(2):hover, .know-more:hover {
   font-weight: 600;
   cursor: pointer;
}
@keyframes test-slider {
    20% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -33.33%;
    }

    45% {
        left: -33.33%;
    }

    50% {
        left: -66.66%;
    }

    70% {
        left: -66.66%;
    }

    75% {
        left: -99.99%;
    }

    100% {
        left: -99.99%;
    }

}

/*----------------- SEARCH TEST AND PACKAGES SECTION----------------------------- */

.test-packages {
    width: 100%;
    margin-top: 45px;
}

.test-packages-content {
    position: relative;
    width: 50%;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.test-packages-content p {
    font-weight: 400;
}

.test-packages-container {
    margin: auto;
    width: 100%;
    max-width: 1320px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 15px;
    border-radius: 15px;
}

.test-package-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.test-packages-button {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.test-packages-button a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
    font-size: var(--size-paragraph);
    padding: 7px 40px;
    background-color: var(--color-grey-button);
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.test-packages-button .lifestyle {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.test-packages-container>p {
    font-size: var(--size-cardHeading2);
    font-weight: 600;
    margin-bottom: 15px;
}

.test-searchBar {
    border: 1px solid #bcbcbc;
    width: 25%;
    display: flex;
    justify-content: space-between;
    /* flex-grow: 1; */
}

.test-searchBar i {
    margin: 3px 15px;
    font-size: 18px;
    color: var(--color-text-blue);
}

.test-searchBar input {
    border: none;
    width: 100%;
    padding-left: 10px;
    outline: none;
}

.test-package-header div {
    padding: 5px 0px;
}

.view-all {
    text-align: end;
    /* margin-top: -20px; */
}

.view-all a {
    color: var(--color-text-blue);
    font-size: var(--size-20px);
}

/* Root  */


:root {
    --color-background-blue: #0047Af;
    --color-text-blue: #0b51b3;
    --color-grey-nav2-text: #010101;
    --color-black: black;
    --color-white: #ffff;
    --color-grey-button: #bcbcbc;
    --color-yellow: #fecc4e;
    --color-cardHeading: #181818;
    --color-body-text: #212529;
    --color-background: #F1F1F1;

    --font-family: 'PT Sans', sans-serif;

    --size-12px: 0.75rem;
    --size-13px: 0.8125rem;
    --size-14px: 0.875rem;
    --size-15px: 0.9375rem;
    --size-paragraph: 1rem;
    --size-sub-heading: 1.125rem;
    /*18px*/
    --size-20px: 1.25rem;
    /*20px*/
    --size-cardHeading1: 1.5rem;
    /*24px*/
    --size-cardHeading2: 1.5625rem;
    /*25px*/
    --size-30px: 1.875rem;
}

body {
    overflow-x: hidden;
    background-color: var(--color-background);
    width: 100vw;
}


 /* -- Why-LALPATHLABS SECTION -- */

 .why-LalPathLabs {
    width: 100%;
}

.pathlab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.pathlab-container {
    margin: auto;
    width: 100%;
    max-width: 1320px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 15px;
    border-radius: 15px;
    margin-top: 35px;
}

.pathlab-items {
    min-width: 230px;
    width: 30%;
    display: flex;
    margin-bottom:1rem;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
}
.pathlab-items img {
   transition: 0.3s ease-in-out;
}
.pathlab-container>p {
    color: var(--color-cardHeading);
    font-size: var(--size-cardHeading1);
    font-weight: 600;
    margin-bottom: 15px;
}

.pathlab-text h1 {
    font-size: var(--size-30px);
    color: var(--color-text-blue);

}

.pathlab-text p {
    font-size: var(--size-paragraph);
}
.pathlab-items:hover{
   cursor: pointer;
}
.pathlab-items:hover img {
    transform: scale(1.2);
    
}


/*---------------- PROMOTIONS AND DISCOUNT SECTION--------------- */

.promotion-container {
    background-color: var(--color-white);
    border-radius: 15px;
    margin-top: 35px;
    padding: 15px;
    overflow: hidden;
}

.promotion-carausel {
    overflow: hidden;
}

.promotion-container>p {
    font-size: var(--size-cardHeading2);
    font-weight: 600;
    margin-bottom: 15px;
}

.promotion-content {
    display: flex;
    width: 205%;
    position: relative;
    margin-bottom: 20px;
    animation: 20s promotion infinite;
}

.promotion-content div {
    height: 17.5rem;
    width: 25.75rem;
    background-color: #0047Af;
    margin: 10px;
    border-radius: 20px;
}

.promotion-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.promotion-item {
    position: relative;
}

.promotion-item p {
    position: absolute;
    top: 190px;
    left: 20px;
    width: 85%;
    text-align: center;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-button);
}
.promotion-item p:hover {
   cursor: pointer;  
   background-color: var(--color-background);
  }
 

@keyframes promotion {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -33.33%;
    }

    45% {
        left: -33.3%;
    }

    50% {
        left: -66.66%;
    }

    70% {
        left: -66.66%;
    }

    80% {
        left: -100%;
    }

    100% {
        left: -100%;
    }



}

/* -----------------EXPLORE MORE SECTION ---------------------- */
.explore-more {
    width: 100%;
    overflow: hidden;
}

.explore-more-container {
    background-color: var(--color-white);
    border-radius: 15px;
    margin-top: 35px;
    padding: 15px 25px;
    overflow: hidden;
}

.explore-carausel {
    overflow: hidden;
}

.explore-content {
    display: flex;
    width: 500%;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    animation: 20s explore-more infinite;
}

.explore-more-container>p {
    font-size: var(--size-cardHeading2);
    font-weight: 600;
    margin-bottom: 15px;
}

.explore-item img {
    width: 100%;
}

@keyframes explore-more {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}


 /*------------------ COVID PACKAGES SECTION ---------------------*/
 .covid-package {
    width: 100%;
}

.covid-package-container {
    background-color: var(--color-white);
    border-radius: 15px;
    margin: 35px 0;
    padding: 15px 25px;
}

.covid-heading {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.covid-heading h1 {
    width: 50%;
}
.covid-card div h1{
   margin-bottom: 20px;
}
.covid-card {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 0px 0 30px;
}
.covid-card>div{
   width: 50%   ;
}

.covid-items {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 20px 20px 30px;
    border-radius: 25px;
}

.covid-items img {
    width: 100%;
    border-radius: 20px;
}

.covid-items a {
    text-decoration: none;
    color: var(--color-body-text);
}


 /* ------------ BLOG and ARTICLE SECTION ---------------------*/
 .blog-content .blog-item {
    border-radius: 0px;
    background-color: transparent;
    height: 13.5rem;
    width: 26rem; 
   } 
      /* -- QUALITY SECTION -- */

.quality-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 11.25rem;
    background-color: var(--color-white);
    width: 100%;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem 1rem;
}

.quality-container h3 {
    font-size: var(--size-cardHeading2);
}

.quality-items-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.quality-item {
    width: 30%;
    min-width: 270px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-grow: 0.4; */
}

.quality-item img {
    transition: all 0.3s ease-out;
}

.quality-item span {
    color: var(--color-text-blue);
    font-size: 2rem;
    font-weight: 700;
}

.quality-item p {
    font-size: 1.2rem;
    font-weight: 400;
}

.quality-item img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

    padding: 25px 0;

/* <--  Accreditation & Certification  --> */

.achievements-container {
    display: flex;
    background-color: var(--color-white);
    border-radius: 1rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: -20rem;
    padding: 25px 0;
}

.accreditation-container,
.certification-container {
    width: 47%;
    box-shadow: 0 0 9px -5px;
    border-radius: 1rem;
    height: 80%;
    padding: 1rem 0.75rem;
}

.accreditation-container,
.certification-container h3 {
    font-size: 1.25rem;
}

.accreditation-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.certification-items {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;

}

.certification-details p {
    font-size: 0.75rem;
    text-align: center;
    cursor: default;
}

.certification-title {
    width: 70%;

}

.certification-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* --------------------- DOWNLOAD APP SECTION ---------------  */
.app-card-container {
    background-color: var(--color-white);
    padding: 20px 15px;
    border-radius: 20px;
    margin-top: 30px;
}

.app-card {
    background-image: url("https://uat-cdn.drlallab.com/images/app-bg-home.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18.75rem;
    border-radius: 15px;

}

.app-card img {
    height: 4.0625rem;
    margin-top: 20px;
}

.app-card-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 100px 0 0 80px;
}

.playstore {
    display: flex;
    justify-content: space-between;
}

.app-card-text h2 {
    font-size: var(--size-cardHeading2);
}


.blog-item img {
    width: 100%;
    height: 60%;
}

.blog-content {
    align-items: center;
}

.blog-item>span {
    font-size: var(--size-12px);
}

.blog-item>p {
    margin-top: 5px;
}
.blog-container{
   position: relative;
}
.left-arrow, .right-arrow{
/* margin-left: px;  */
margin-top: -40px;
}
.blog-carausel .right-arrow{
   margin-right: 15px;
}



/* <!-- Experties --> */

.experties-container {
    background-color: var(--color-white);
    border-radius: 15px;
    margin: 30px 0 30px;
    padding: 15px;
}

.experties-content h1 {
    font-size: var(--size-cardHeading2);
}

.experties-content h2 {
    font-size: var(--size-sub-heading);
}

.experties-content p {
    margin: 5px 0 15px;
}


/* <!-- Frequently Asked Question --> */

.faq-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem 0.75rem;
    margin: 10px 0 35px;
}
.faq-container .view-all{
   align-self: flex-end;
}
.faq-container h3 {
    font-size: var(--size-cardHeading2);
    font-weight: 550;
}

.faq-buttons-container {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.faq-button {
    background-color: var(--color-grey-button);
    color: var(--color-white);
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
}

.labs {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.faq-button:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.faq-button:focus {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.faq-question {
    width: 100%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--color-yellow);
}

.faq-question .question {
    font-size: 1.2rem;
    color: var(--color-text-blue);
    font-weight: 500;
}
/* -----------Lab Test At Home and Popular Test Above Footer ---------*/

.lab-testAtHome,
.popular-test-at-footer {
    width: 100%;
    background-color: var(--color-background);
    padding: 20px 0;
}

.lab-test-container,
.popular-test-container-at-footer {
    max-width: 1500px;
    margin: auto;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 15px;

}

.location-list,
.popular-test-list-at-footer {
    display: flex;
    gap: 7px;
    margin-top: 20px;
    flex-wrap: wrap;
    line-height: 25px;
}

.lab-test-content,
.popular-test-content-at-footer {
    padding: 15px 15px 100px;

}

.lab-test-content h1,
.popular-test-content-at-footer h6 {
    font-size: var(--size-cardHeading2);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: var(--color-cardHeading);
}

.location-list a,
.popular-test-list-at-footer a {

    color: var(--color-black);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.location-list a:hover,
.popular-test-list-at-footer a:hover {
    color: var(--color-background-blue);
    text-decoration: underline;
}

.back-to-top{
   text-align: end;
}
.back-to-top img{
   margin-right: 7%;
}


/*------------------------ Footer---------------------- */

.footer-section {
    width: 100%;
    position: relative;
}

.footer-top {
    width: 100%;
    background-color: rgb(254, 204, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT sans';
    padding: 50px;
}

.footer-links {
    display: flex;
    width: 100%;
    max-width: 1280px;
    justify-content: space-around;
}

.link_col {
    display: flex;
    flex-direction: column;
}

.link_col h2 {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: column;

}

.links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
    text-transform: capitalize;
}

.footer-bottom {
    width: 100%;
    background-color: #0047Af;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: 'PT sans';

}

.footer-bottom .copyright {
    max-width: 1280px;
    color: white;
    display: flex;
    gap: 8px;
    align-items: center;


}

.footer-bottom a {
    text-decoration: none;
}
.footer-info div a{
   color: white;
}

.follow_us {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    text-transform: capitalize;
}

.social_icons {
    display: flex;
    gap: 4px;

}

.copyright h2 {
    font-weight: 700;
}

.footer_icons {
    background-color: #fecc4e;
    color: #0b51b3;
    border-radius: 50%;
    padding: 8px;
   
}
.footer_icon i{
   font-size: 1.5rem;
}
.certificate-2 p{
   padding: 0 0 15px 0;
}

/* ------MEDIA QUERY---- */

@media screen and (max-width:1480px) {

    .box-2,
    .item-container,
    .popular-test-container {
        max-width: 1140px;
    }
}

/*--- Scroll Sytling----- */


 
 ::-webkit-scrollbar {
     width: 8px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px rgb(190, 190, 190);
     border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: var(--color-text-blue);
     border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: var(--color-background-blue);
 }

